<html>
<link href="/static/bootstrap.min.css" rel="stylesheet">
<link href="/static/TheLootBox.css" rel="stylesheet">
<script src="/static/bootstrap.bundle.min.js"></script>
<script src="/static/jquery.min.js"></script>
<script src="/static/flash_alerts.js"></script>
<header class="header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="header-logo" href="/"><img src="/static/images/TheLootBoxLogo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="/create" tabindex="-1">Create account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/account" tabindex="-1">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/send" tabindex="-1">Send Ether</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/createlootbundle" tabindex="-1">Loot Bundles</a>
          </li>
        </ul>
          <button class="btn btn-outline-success img-size"><a href="https://github.com/TheLootBox-xyz"><img src="/static/images/github.png"></a></button>
          <button class="btn btn-outline-success img-size"><a href="https://discord.gg/pd4wupphDe"><img src="/static/images/Discord.png"></a></button>
      </div>
    </div>
  </nav>
  <div class="flask_alert_container" onclick="delete_flash(this)">
    {% for catagory, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ catagory }}">
      {{ message }}
    </div>
    {% endfor %}
  </div>
</header>
<div id="particles-js"></div>
<script src="/static/particles.min.js"></script>
<script src="/static/particles.js"></script>
{% block content %}{% endblock %}
<footer class="footer">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; {{ year }}</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="/createlootbundle">Loot Bundles</a></li>
      </ul>
    </div>
    <div class="col-6 col-md footer-img-size">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="https://github.com/TheLootBox-xyz">Code</a></li>
        <li><a class="link-secondary" href="https://discord.gg/pd4wupphDe">Community</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About TheLootBox</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="https://thelootbox.xyz/about" target="_blank">About</a></li>
        <li><a class="link-secondary" href="https://thelootbox.xyz/privacy" target="_blank">Privacy</a></li>
      </ul>
    </div>
  </div>
</footer>
</html>
