{% extends 'base.html' %}
{% block content %}
<script>
    function delete_flash(flash){
        $(flash).remove()
    }
</script>
<div id="particles-js"></div>
<script src="/static/particles.min.js"></script>
<script src="/static/particles.js"></script>
<body class="form_body">
<div class="form_style">
<form method="POST" action="create_fresh">
    <div class="form-row">
        <div>
            <h3>Create account</h3>
            <br>
            <p>Create a fresh account</p>
            {{ create_account_form.create(class="btn btn-primary")}}
        </div>
    </div>
</form>
<form method="POST" action="create">
        <div>
            <br>
            <p>Or import an account from an existing mnemonic</p>
            <p>{{ form_create_multiple.create_from_mnemonic }}</p>
            <p>Number of accounts {{ form_create_multiple.number_of_accounts }}</p>
            {{ form_create_multiple.create_multiple(class="btn btn-primary")}}
        </div>
</form>
</div>
</body>
{% endblock %}
