{% extends 'base.html' %}
{% block content %}
<body class="form_body">
<div class="form_style">
<form method="POST" action="send_transaction">
<h3>Send Ether</h3>
<br>
  {{ send_ether_form.csrf_token }}
  {% block data %}
    {% if account == "unlocked" %}
      <p>To public address</p>
      <p>{{ send_ether_form.to_public_address }}</p>
      <p>Amount of Ether</p>
      <p>{{ send_ether_form.amount_of_ether }}</p>
         {{ send_ether_form.submit(class="btn btn-primary")}}
      </form>
{% endif %}
{% endblock data %}
</div>
</body>
{% endblock %}
