.header-logo img {
max-height: 500px;
max-width: 150px;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 50px;
  height: 100%;
  overflow-y: scroll;
  /*background-color:transparent;*/
  pointer-events: none;
  }
H5 {
  color: #FFFFFF;
}
svg {
  color: #FFFFFF;
}
p {
  margin-top:10px;
  margin-bottom:10px;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(120, 120, 120, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-track {
  background: inset 0 0 8px  rgba(0, 0, 0, 0.2);
}
.flask_alert_container {
  pointer-events: all;
  position:absolute;
  top: 55.5%;
}
div.scroll {
    width: max-content;
    height: 70%;
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #5cb85c;
    border-radius: 7px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}
.form_body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  pointer-events: all;
  background-color: #000000;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex; 
  align-items: center;
  text-align: center;
}
.new_account_form {
  height: 60vh;
  width: 35vw;
  background: #000000;
  border: 2px solid #5cb85c;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 20px;
  color: #FFFFFF;
  pointer-events: all;
  overflow: overlay;
  overflow-y: scroll;
}
.account_form {
  height: 55vh;
  width: 45vw;
  background: #000000;
  border: 2px solid #5cb85c;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 20px;
  color: #FFFFFF;
  pointer-events: all;
  overflow-y: scroll;
}
.form_style {
  height: 40vh;
  width: 40vw;
  background: #000000;
  border: 2px solid #5cb85c;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 20px;
  color: #FFFFFF;
  pointer-events: all;
  overflow-y: scroll;
}
footer {
  padding-top: 20px;
  position: fixed;
  text-align: center;
  right: 0;bottom:0;left:0;
  height: 20vh;
  background-color: #000000;
  pointer-events: all;
  overflow-y: scroll;
}
.img-size img {
  max-width: 40px;
  max-height: 40px;
}
header {
  position: absolute;
  pointer-events: all;
}
.navbar-brand img {
  max-width: 250px;
  max-height: 150px;
}
.lead {
  color: #FFFFFF;
}
.carousel {
  pointer-events: all;
}
.background-style {
  background-color: rgba(120, 120, 120, 0.5);

}
.featurette-heading {
  color: #FFFFFF;
}

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: all;
}
