{% extends 'base.html' %}
{% block content %}
<meta http-equiv="refresh" content="30">
<script>
    function delete_flash(flash){
        $(flash).remove()
    }
    window.addEventListener("load", function(){
    let hide_bool = true;
    var hide_button  = document.getElementById('hide_button');
    var private_key = document.getElementById('private_key');
    hide_button.addEventListener('click', function() {
        if(hide_bool == true) {
            private_key.type = 'text';
            mnemonic_phrase.type = 'text';
        } 
        if(hide_bool == false) {
            private_key.type = 'password';
            mnemonic_phrase.type = 'password';
        }
        hide_bool = !hide_bool;
    });
});
</script>
  <body class="form_body">
  {% block data %}
    {% if account == "new" %}
  <div class="form_style container">
    <form>
      <h3>Account</h3>
      <br>
      <p>Public address</p>
      <input type="text" value="{{ pub_address }}" size="35"><br><br>
      <p>Private key</p>
      <input type="text" value="{{ private_key }}" size="53" id="private_key"><br><br>
      <p>Mnemomic phrase</p>
      <input type="text" value="{{ mnemonic_phrase }}" size="50"><br><br>
      <p>Account key</p>
      <p>Save this key! Your account unlock key will not be saved on disc.</p>
      <input type="text" value="{{ wallet_key }}" size="35">
      <p>Seriously save this key &#11014; so you can unlock your account. </p>
    </form>
    </div>
    {% elif account == "unlocked" %}
    <div class="form_style container">
    <form method="POST" action="lookup">
      <h3>Account</h3>
      <br>
      <p>ENS Name</p>
      <input type="text" value="{{ ens_name }}" size="35"><br><br>
      <p>Public address</p>
      <input type="text" value="{{ pub_address }}" size="35"><br><br>
      <p>Private key</p>
      <input type="password" value="{{ private_key }}" size="53" id="private_key"><br><br>
      <p>Mnemomic phrase</p>
      <input type="password" value="{{ mnemonic_phrase }}" size="50" id="mnemonic_phrase"><br><br>
      <button type="button" id="hide_button" class="btn btn-primary">Show</button><br><br>
      <p>Account balance</p>
      <input type="text" value="{{ account_balance }}" size="35" id="account_balance"><br><br>
      <h3>View another account</h3>
      <p>Account id</p>
      <p>{{ lookup_account_form.account_id }}</p>
      <p>Account unlock key</p>
      {{ lookup_account_form.account_key }}<br><br>
      {{ lookup_account_form.account_search(class="btn btn-primary")}}<br><br>
      </form>
      <form method="POST" action="delete">
        <input type="submit" name="delete" value="Delete accounts" class="btn btn-primary" />
      </form>
    </div>
    <div class="form_style container">
    <form method="POST" action="create_app_token">
    <div class="form-row">
        <div>
            <h3>Create app token</h3>
            <p>Create a token for app integrations</p>
	    <p>App Name</p>
      	    	{{ create_app_token_form.app_name }}<br><br>
            	{{ create_app_token_form.create(class="btn btn-primary")}}
        </div>
      </div>
      </form>
      <h3>Other accounts</h3>
      <br>
      <p>Public addresses</p>
      {% for account in account_list %}
      <input type="text" value="{{ account }}" size="35"><br><br>
      {% endfor %}
    </div>
    {% else %}
  <div class="account_form">
    <form>
      <h3>Account</h3>
      <br>
      <p>Public address</p>
      <input type="text" value="{{ pub_address }}" size="35"><br><br>
      <p>Private key</p>
      <input type="text" value="{{ private_key }}" size="53"><br><br>
      <p>Mnemomic phrase</p>
      <input type="text" value="{{ mnemonic_phrase }}" size="50"><br><br>
    </form>
  </div>
  {% endif %}
  {% endblock data %}
</body>
{% endblock %}

